body,
html, #root, .page  {
  height: 100%;
  width: 100%;
  font-family: Graphik, "Helvetica Neue";
  font-weight: 400;
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: row;
}
.content {
  position: relative;
  max-height: 100%;
  overflow: auto;
}

nav {
  min-height: 100%;
  min-width: 300px;
  background-color: #fff;
  margin-right: 50px;
  text-align: center;
  border-right: 3px solid #445a7d;
}


nav ul {
  margin-top:50px;
  margin-left: 30px;
  list-style-type: none;
  text-align: left;

}

.tick line {
  stroke: #cfe9ff;
}

.tick text {
  fill: #635f5d;
}
.bar-chart .tick rect{
  transition: stroke-opacity 0.3s ease;
  stroke: #0096ff;
  stroke-width: 6px;
  stroke-opacity: 0;
}
.bar-chart .tick:hover rect{
  stroke-opacity: 1;
}

.mark {
  fill: #cfe9ff;
}

.mark.selected {
  fill: #0096ff;
}

text.mark-label {
  fill: white;
  font-weight: 500;
}

.chart-title {
  font-size: 36px;
  fill: #36476c;
}

.kpi .chart-title {
  font-size: 18px;
}
.bar-chart g.tick.bar {
  transition: transform 0.5s ease;
}

.kpi-figure {
  font-size: 50px;
  fill: #1cc691;
}

.kpi polygon { 
  fill: #1cc691;
}

svg {
  cursor: help;
  background-color: #fafafa;
  border:1px solid #f2f2f2;
  margin: 15px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease
}
svg:hover {
  border-color: #0096ff;
}

.widget-label {
  fill: #36476c;
  font-size: 24px

}

.widget .tick{
  cursor: pointer
}

.dashboard {
  width: 990px;
}
h1 {
  text-align: center;
  font-size: 36px;
  line-height: 2em;
  color: #36476c;
}

.zoom {
  position:absolute;
  z-index: 1000;
  top: 20px;
  left: 15px
}

.tooltip {
  background-color: white;
  padding:20px;
  border: 2px solid #445a7d;
  box-shadow: 1px 1px 5px #0008;
}